.wrapper {
  width: 100%;
  height: fit-content;
  border: 1px solid red;
  position: relative;
}

.pictureContainer {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.picture {
  width: 100%;
  height: auto;
}

.title {
  zIndex: 2;
  padding: '20px';
  textAlign: 'center';
  color: 'white';
  y: textY;
  fontSize: '2rem';
  textShadow: '2px 2px 4px rgba(0, 0, 0, 0.5)';
  opacity: inView ? 1 : 0;
  // transition: { duration: 0.5 }
}
