@use '/src/styles/defaultVariables.scss';

.section {
  width: 100%;
  margin: 60px auto;
  height: fit-content;
  box-sizing: border-box;
}

.galleryTitle {
  margin: 60px auto 40px;
  @include defaultVariables.sofia-sans-font;
  font-size: 40px;
  font-weight: bold;
  color: rgba(245, 245, 245, 0.753);
}


.list {
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* Гибкие колонки */
  grid-auto-rows: 300px;
  /* Базовая высота строк */
  gap: 5px;
  /* Отступы между элементами */
  grid-auto-flow: dense;
  /* Плотное заполнение */
  overflow: visible;

}

.listItem {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

.listItem:nth-child(2n) {
  grid-column: span 2;
}

.listItem:nth-child(3n) {
  grid-row: span 2;
}

.listItem:nth-child(5n) {
  grid-column: span 1;
}

.pictureContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  transition: box-shadow 0.3s ease;
}

.pictureContainer:hover {
  box-shadow: inset 0 0 5px 8px rgba(255, 255, 255, 0.2); /* Внутренняя тень */
  transition: box-shadow 0.3s ease;
}

.picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  position: relative;
  z-index: -1;
}

.fadeIn {
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}

.active {
  opacity: 1;
}
