@use 'reset-css';
@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');
html {
  box-sizing: border-box;
  font-size: 14px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: sans-serif;
  line-height: 1.5;
  color: #333;
}
