@use '/src/styles/defaultVariables.scss';

.section {
  margin: 0 0 10px 0;
  padding: 0;
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 20;
  transition: height 0.4s ease, opacity 0.4s ease, transform 0.4s ease;
}

.sectionDimmed {
  transition: opacity 0.4s ease;
  opacity: 0.3;
}

.section:hover {
  height: 500px;
  transition: height 0.4s ease;
}

.link {
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.cardContainer {
  width: 100%;
  height: 100%;
}

.text {
  width: max-content;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto 20px auto auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.textNature {
  @include defaultVariables.sofia-sans-font;
}

.textUrban {
  @include defaultVariables.exo-font;
}

.header {
  color: rgba(255, 255, 255, 0.603);
  margin: auto -340px auto auto;
  font-weight: 500;
  font-size: 160px;
  line-height: 200px;
  transition: transform 0.4s ease;
}

.section:hover .header {
  transform: translateX(-390px); // смещение заголовка влево при ховере
  transition: transform 0.4s ease;
}

.quotation {
  color: rgb(255, 255, 255);
  width: 300px;
  height: 200px;
  margin: auto 60px auto 40px;
  opacity: 0; // изначально элемент скрыт
  transform: translateX(70px); // начинает появляться справа
  transition: opacity 0.4s ease, transform 0.4s ease; // плавное появление
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section:hover .quotation {
  opacity: 1;
  transform: translateX(0); // смещение к своей позиции при ховере
}

.quotationText {
  font-size: 18px;
  text-align: left;
}

.quotationAuthor {
  font-size: 16px;
  text-align: right;
  align-self: flex-end;
}

.pictureContainer {
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}

.picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
